* {
	background-color: #eee;
	font-family: 'Roboto';
}
 #wrapper {
 	width: 500px;
	height: 50%;
	border: 0px solid white;
	margin: 50px;
	padding: 10px;
	margin-left: 30%;
 }
 .main {
	width: 250px;
	height: 40%;
	margin: 10px auto;
	background-color: #fff;
	border: 2px solid #e6e6e6;
	padding: 40px 50px;
	margin-top: 75px;
}